#whole-thing {
  border: 4px solid teal;
  height: 600px;
  display: table-cell;
  vertical-align: middle;
  padding-left: 40px;
  padding-right: 40px;
}

#first-layer {
  border-style: dashed;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  /*width: 800px;*/
}

#lemon-box {
  height: 200px;
  width: 200px;
  border: 1px solid grey;
  float: left;
}

#purple-box {
  height: 200px;
  width: 400px;
  border: 1px solid purple;
  float: right;
  /*margin-left: 220px;*/
}
